@font-face {
    font-family: gotham;
    font-weight: 400;
    src: url(../assets/fonts/GothamRnd-Book.woff);
}

@font-face {
    font-family: gotham;
    font-weight: 700;
    src: url(../assets/fonts/GothamRnd-Bold_0.woff);
}

body {
    font-family: gotham;
    background-image: url("../images/imageedit_1_7311046570.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}


/*--------------------------------------------------------------
# Edit bootstrap Class
--------------------------------------------------------------*/
.lp-input-text {
    border: none !important;
    border-bottom: 1px solid #ced4da !important;
    box-shadow: none !important;
}

.lp-input-text:hover {
    border-bottom: 1px solid #222 !important;
}

.lp-input-text:focus {
    border-bottom: 3px solid #ffca2c !important;
}

.lp-input-radio:checked {
    background-color: #ffca2c !important;
    border-color: #ffca2c !important;
}

.lp-input-radio:focus {
    box-shadow: none !important;
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/

li.highlight:hover {
    background-color: aliceblue !important;
}

li.highlighted {
    background-color: aliceblue !important;
}

.flex-wrapper {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: space-between;
}

.foot {
    margin-top: auto;
}