@font-face {
    font-family: gotham;
    font-weight: 400;
    src: url(../assets/fonts/GothamRnd-Book.woff);
}

@font-face {
    font-family: gotham;
    font-weight: 700;
    src: url(../assets/fonts/GothamRnd-Bold_0.woff);
}

body {
    font-family: gotham;
    background-image: url("../images/imageedit_1_7311046570.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}


/*--------------------------------------------------------------
# Edit bootstrap Class
--------------------------------------------------------------*/
.lp-input-text {
    border: none !important;
    border-bottom: 1px solid #ced4da !important;
    box-shadow: none !important;
}

.lp-input-text:hover {
    border-bottom: 1px solid #222 !important;
}

.lp-input-text:focus {
    border-bottom: 3px solid #ffca2c !important;
}

.lp-input-radio:checked {
    background-color: #ffca2c !important;
    border-color: #ffca2c !important;
}

.lp-input-radio:focus {
    box-shadow: none !important;
}

/**
 * General Section
 */

 .flex-wrapper {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: space-between;
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/**
* Desktop Navigation 
**/
.navbar {
    padding: 0;
}

.navbar ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    align-items: center;
}

.navbar a,
.navbar a:focus {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    color: #000;
    white-space: nowrap;
    transition: 0.3s;
    font-size: 14px;
}

.navbar a i,
.navbar a:focus i {
    font-size: 12px;
    line-height: 0;
    margin-left: 5px;
}

.navbar a:hover,
.navbar .active,
.navbar .active:focus,
.navbar li:hover>a {
    background-color: #fff;
}

.form-check {
    width: 170px;
}

/**
  * Mobile Navigation 
**/
.mobile-nav-toggle {
    color: #000;
    font-size: 28px;
    display: none;
    line-height: 0;
    transition: 0.5s;
}

@media (max-width: 991px) {
    .mobile-nav-toggle {
        display: block;
    }

    .navbar ul {
        display: none;
    }
}

/**
 * Footer Section
 */
.foot {
    margin-top: auto;
}

img{
    width: 100% !important;
}

.shadown-text{
    text-shadow: 1px 1px #777777;;
}

.content-text{
    max-width: 680px;
    margin: auto;
    margin-bottom: 10px;
}