<div class=" d-none d-sm-block position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center" style="background-image: url('images/27-271677_green-chalkboard-png-blackboard.png');  background-repeat: no-repeat;
background-size: contain, cover; background-position: center;">
    <div class="col-8 p-lg-5 mx-auto my-5">
        <h2 class="display-4 fw-bold text-warning">Hello !</h2>
        <p class="lead fw-normal text-white content-text mb-5">Everyone learns in different ways. For the first time in
            history, we can
            analyze how millions of people learn at once to create the most effective educational system possible and
            tailor it to each student.</p>
        <a class="btn btn-warning" ng-click="scrolllogin($event)" href="#">Start Now</a>
    </div>
</div>
<div id="welcome-mess" class="mb-3">
    <div class="container d-flex justify-content-center" style="max-width: 580px; max-height: 360px;">
        <img src="images/hero.png" alt="">
    </div>
    <div class="container d-flex justify-content-center">
        <h1 class="display-1 fw-bold text-center t-75">Welcome to eStudiez Portal</h1>
    </div>
</div>
<div class="container">
    <form ng-submit="handleLogin()" style="margin-bottom: 80px;">
        <div class="row d-flex justify-content-center">
            <div class="col-12 col-md-8 col-lg-6 form-floating mb-3">
                <input class="form-control rounded-0 lp-input-text" type="text" ng-model="name" placeholder="name">
                <label>eStudiez Name:</label>
            </div>
        </div>
        <div class="d-flex justify-content-center">
            <div class="form-check">
                <input class="form-check-input lp-input-radio" type="radio" ng-model="type" ng-value="1">
                <label class="form-check-label">I am Student</label>
            </div>
        </div>
        <div class="d-flex justify-content-center">
            <div class="form-check">
                <input class="form-check-input lp-input-radio" type="radio" ng-model="type" ng-value="2">
                <label class="form-check-label">I am Teacher</label>
            </div>
        </div>
        <div class="d-flex justify-content-center">
            <div class="form-check">
                <input class="form-check-input lp-input-radio" type="radio" ng-model="type" ng-value="3">
                <label class="form-check-label">I am Parent/Guardian</label>
            </div>
        </div>
        <div class="mt-4 d-flex justify-content-center">
            <label class=""></label>
            <button class="btn btn-warning test">Access</button>
        </div>
    </form>
</div>

<!-- Validation Modal -->
<div class="modal fade" id="validationModal" tabindex="-1" role="dialog" aria-labelledby="validModalTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="validModalTitle">Notification</h5>
            </div>
            <div class="modal-body">
                eStudiez's Name and Role can not empty !!!
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-warning" ng-click="handleValid()">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- Fail Modal -->
<div class="modal fade" id="failModal" tabindex="-1" role="dialog" aria-labelledby="failModalTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="failModalTitle">Notification</h5>
            </div>
            <div class="modal-body">
                Access Failure... Can not find your eStudiez's User
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" ng-click="handleFail()">Close</button>
            </div>
        </div>
    </div>
</div>