<div class="container">
    <nav class="navbar navbar-expand-lg">
        <div>
            <a class="navbar-brand text-weight-bold" href="index.html">
                <span>
                    Hello : {{teachername}}
                </span>
            </a>
        </div>

        <div class="d-none d-lg-flex ms-auto flex-column ">
            <ul class="navbar-nav ">

                <li class="nav-item ">
                    <a class="nav-link" href="#!/student#mark"> Student Mark </a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" href="#!/student#mark"> Academic Progress </a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" href="#!/student#resource"> Study Resource </a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" href="#!/student#class"> Revision class </a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" href="#!/student#feedback"> Feedback </a>
                </li>

                <li class="nav-item">
                    <button type="button" class="btn btn-danger" ng-click="handleLogout()">Log out</button>
                </li>

            </ul>
        </div>
    </nav>
</div>

<!-- your mark -->
<div class="container my-5" id="mark">

    <div class="row pe-5">
        <div class="col-md-6">
            <div class="d-flex justify-content-center d-md-block mb-3">
                <h2>
                    Marks
                </h2>
            </div>

            <form class="form-group" action="">
                <table class="table">
                    <tr class="table-warning">
                        <td>Name</td>
                        <td>Math</td>
                        <td>Physic</td>
                        <td>Chemist</td>
                        <td>Update/Delete</td>
                    </tr>
                    <tbody ng-repeat="student in list">
                        <tr>
                            <td class="text-nowrap">{{student.name}}</td>
                            <td>{{student.mark.math}}</td>
                            <td>{{student.mark.physic}}</td>
                            <td>{{student.mark.chemist}}</td>
                            <td class="d-flex justify-content-center">
                                <button type="button" class="btn btn-primary" data-toggle="modal"
                                    data-target="#exampleModal" ng-click="edit($index)">
                                    <i class="bi bi-pencil-square"></i>
                                </button>
                                <button class="btn btn-danger" ng-click="del($index)">
                                    <i class="bi bi-trash3"></i>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td><input type="text" class="form-control" placeholder="Name"></td>
                            <td><input type="number" class="form-control" placeholder="Mark"></td>
                            <td><input type="number" class="form-control" placeholder="Mark"></td>
                            <td><input type="number" class="form-control" placeholder="Mark"></td>
                            <td><button class="btn btn-warning form-control" type="submit">
                                    <i class="bi bi-person-plus"></i>
                                </button></td>
                        </tr>
                    </tfoot>
                </table>
            </form>


        </div>
        <!-- academic progress -->
        <div class="col-md-6">
            <div class="d-flex justify-content-center d-md-block mb-3">
                <h2 class="text-end">
                    Academic Progress
                </h2>
            </div>
            <div ng-repeat="student in list">
                <div>
                    {{student.name}}
                </div>
                <div class="progress" style="height: 20px;">
                    <div class="progress-bar bg-warning" role="progressbar" style="width: 60% ; " aria-valuenow="25"
                        aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <div class="text-center">{{student.progress}}</div>
            </div>
        </div>
    </div>
</div>



<!-- study resource -->
<div class="container my-5" id="resource">

    <div class="row pe-5">
        <!-- revision class -->
        <div class="col-md-6">
            <div class="d-flex justify-content-center d-md-block mb-3">
                <h2>
                    Revision class
                </h2>
            </div>
            <div class="ps-5">
                <b>Teacher:</b> {{student.teachername}}
            </div>
            <div class="ps-5">
                <ol ng-repeat="student in list">
                    <li>{{student.name}}</li>
                </ol>
            </div>
        </div>
        <div class="col-md-6">
            <div class="d-flex justify-content-center d-md-block mb-3">
                <h2 class="text-end">
                    Your Resource
                </h2>
            </div>
            <form action="" class="form-group">
                <table class="table">
                    <tr class="table-warning">
                        <td>Subject</td>
                        <td>resource</td>
                    </tr>
                    <tbody>
                        <tr>
                            <td>Math</td>
                            <td><a href="">Video</a> </td>
                        </tr>
                        <tr>
                            <td>Physic</td>
                            <td><a href="">Document</a></td>
                        </tr>
                        <tr>
                            <td>Chemist</td>
                            <td> N/A</td>
                        </tr>
                        <tr>
                            <td><input type="text" class="form-control" placeholder="Name"></td>
                            <td><input type="text" class="form-control" placeholder="Link to resource"></td>
                        </tr>
                    </tbody>

                </table>
                <div>
                    <button type="submit" class="btn btn-warning">Add document</button>
                </div>
            </form>


        </div>


    </div>
</div>
<!-- feedback -->
<div class="container my-5" id="feedback">
    <div class="d-flex justify-content-center d-md-block mb-3">
        <h2>
            Feedback
        </h2>
    </div>
    <div>
        <table class="table">
            <tr class="table-warning">
                <td>From</td>
                <td>Title</td>
                <td>Content</td>
                <td>Reply/Delete</td>
            </tr>
            <tbody>
                <tr>
                    <td>Tran Duy Anh</td>
                    <td>Làm ăn thế hả</td>
                    <td>Tối gặp tao ở cổng trường</td>
                    <td class="d-flex justify-content-center">
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                            <i class="bi bi-reply"></i>
                        </button>
                        <button class="btn btn-danger">
                            <i class="bi bi-trash3"></i>
                        </button>
                    </td>
                </tr>
                <tr>
                    <td>Nguyen Manh Nam</td>
                    <td>Chuyện gì thế em</td>
                    <td>Anh Duy Anh sao lại muốn chém em thế?</td>
                    <td class="d-flex justify-content-center">
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                            <i class="bi bi-reply"></i>
                        </button>
                        <button class="btn btn-danger">
                            <i class="bi bi-trash3"></i>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>


<div class="container my-5">

    <div class="row">
        <div class="col-md-6">
            <div class="d-flex justify-content-center d-md-block">
                <h2>
                    Send a feedback
                </h2>
            </div>
            <form action="" class="form-group">
                <div class="contact_form-container">
                    <div>
                        <div>
                            <input class="form-control rounded-0" type="text" placeholder="Title">
                        </div>
                        <div class="mt-5">
                            <textarea class="form-control rounded-0" style="resize: none;" rows="5"
                                placeholder="Message"></textarea>
                        </div>
                        <div class="mt-5">
                            <button class="btn btn-warning" type="submit">
                                Send
                            </button>
                        </div>
                    </div>

                </div>

            </form>
        </div>
        <div class="col-md-6">
            <div class="contact_img-box">
                <img src="images/students.jpg" alt="">
            </div>
        </div>
    </div>
</div>